{% extends "base.html" %}

{% block content %}
{% set date_format = config.extra.still_date_format | default(value="%Y-%m-%d") %}

{% if section.content %}
<article class="section-intro home-intro">
  {{ section.content | safe }}
</article>
{% endif %}

{% if section.extra.suggested %}
<hr>
<h2>suggested</h2>
<ul>
  {% for rel in section.extra.suggested %}
    {% set page = get_page(path=rel) %}
    <li><a href="{{page.permalink}}">{{page.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if section.extra.nav %}
<hr>
<footer>
  <nav>
    <ul>
     {% for navitem in section.extra.nav -%}
       <li><a href="{{ navitem.href }}">{{ navitem.name }}</a></li>
     {%- endfor %}
    </ul>
  </nav>
</footer>
{% endif %}

{% endblock content %}
